* {
    box-sizing: border-box;
    /* говорит браузеру учитывать любые границы и внутренние отступы 
    ( упрощает работу с размерами элемента, если контент сожмётся)*/
    margin: 0;
    padding: 0;
}

.border {
    border: solid magenta 1px;

&
__content {
    border: solid blue 1px;
    width: 15%;
    float: left;
}

&
__text {
    border: solid green 1px;
    width: 200px;
    float: right

}

&
__info {
    border: solid red 1px;
    margin-left: 17%;
    margin-right: 210px
}

}

