$span-fast: #FFAE00;
$hover: #512F8B;
$border-radius: #ECECF1;
$gray-background: #F3F3F3;
$gray-text: #ABABAB;
$purple: #4832DC;
$title: #000000;
$gray-text-center: #858585;
$blue-circle: #2765C8;
$green-circle:#37D679;
$orange-circle:#FFAE00;
$box-purple: #E2DEFF;
$house:#E2F8D4;
$pack:#FFE1F0;
$office:#FCFAC9;
$storage:#EBEBEB;
$flight:#D5F4F8;
$pink-back:#F5F3F9;
$text-end:#281B7B;
$white-background:#F2F2F2;
$down:#D3D3D3;
$end:#18104A;
$the-end:#10093B;
$help:#EDA306;